@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: #000000;
  text-decoration: none;
}

.button {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/* header */

.header-container {
  width: 1160px;
  min-height: 300px;
  background-color: #FFE17F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  padding-top: 1px;
}

.header-inner {
  width: 89.7%;
  margin: 0 auto;
}

.page-header {
  font-family: "Raleway";
  color: #000000;
}

.header-title {
  margin: 0;
  margin-top: -24px;
  margin-bottom: 26px;
}

.navigation-search::-webkit-input-placeholder {
  font-family: "Rubik";
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.navigation-form {
  position: relative;
}

.navigation-search {
  display: block;
  min-width: 516px;
  min-height: 40px;
  border: none;
  background-color: transparent;
  padding: 10px 0;


  font-family: "Rubik";
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

  background-image: url("../img/icons/navigation-search.svg");
  background-repeat: no-repeat;

  padding-left: 52px;

  position: relative;
  left: -16px;

  background-position: left 16px top 50%;
}

.button-search {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  min-width: 160px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  border: none;
  background-color: transparent;

  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  box-shadow: 0 0 0 2px #000000;
  cursor: pointer;
}

.button-search:not(:active):focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.button-search:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-search:active {
  outline: none;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3)
}

.navigation-search:focus {
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #AF4FFF;
}

.navigation-search:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.navigation-search:not(:placeholder-shown) + .button-search {
  display: block;
  border-left-color: #000000;
}

.navigation-search:not(:placeholder-shown) {
  box-shadow: 0 0 0 2px #000000;
  border-radius: 20px;
  outline: none;
}

.navigation-search::-webkit-search-cancel-button {
  display: none;
}


.navigation-list {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  letter-spacing: 0;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: grid;
  grid-template-columns: 500px 160px 160px 100px;
  gap: 40px;
  margin-bottom: 19px;
}

.navigation-link {
  display: block;
  padding: 10px 0;
  width: max-content;
}


.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url("../img/icons/entry.svg");
  background-repeat: no-repeat;

  min-width: 117px;

  box-sizing: border-box;
  padding-left: 46px;

  position: relative;
  left: -21px;

  background-position: left 21px top 50%;
}

/*navigation-items states*/

.navigation-user .navigation-item:not(:first-child) .navigation-link:not(:active):focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.navigation-user .navigation-item:not(:first-child) .navigation-link:hover {
  opacity: 0.6;
}

.navigation-user .navigation-item:not(:first-child) .navigation-link:active {
  outline: none;
  opacity: 0.3;
}


.navigation-user .navigation-item:nth-child(3) .navigation-link{
  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;

  min-width: 136px;

  box-sizing: border-box;
  padding-left: 41px;

  position: relative;
  right: -22px;

  background-position: left 21px top 50%;
}


.navigation-user .navigation-item:nth-child(4) .navigation-link{
  position: relative;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;

  min-width: 131px;

  box-sizing: border-box;
  padding-left: 44px;

  position: relative;
  left: -10px;

  background-position: left 18px top 10px;
}

.navigation-user .navigation-item:nth-child(4) .navigation-link::before {
  position: absolute;
  left: 2px;
  top: 8px;
  content: "2";
  text-align: center;
  padding: 1px;
  width: 19px;
  height: 19px;
  background-color: #FFFFFF;
  background-position: left;
  border-radius: 10.5px;
}


.navigation-user > .navigation-item:nth-child(3) {
  margin-left: auto;
}

.navigation-user > .navigation-item:nth-child(4) {
  position: relative;
  margin-left: auto;
}

.navigation-main .navigation-item > .navigation-link {
  padding: 15px 0;
}

.navigation-main .navigation-item:first-child > .navigation-link {
  min-width: 263px;

  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  z-index: 1;
  left: -20px;
}



.navigation-main .navigation-item:first-child > .navigation-link:not(:active):focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
  outline: none;
  z-index: 2;
}

.navigation-main .navigation-item:first-child > .navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.navigation-main .navigation-item:nth-child(2) > .navigation-link,
.navigation-main .navigation-item:nth-child(3) > .navigation-link {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  left: -20px;
}

.navigation-main .navigation-item:nth-child(4) > .navigation-link {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  right: -20px;
}


/*navigation-items states*/

.navigation-main .navigation-item:not(:first-child) > .navigation-link:not(:active):focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
  outline: none;
  z-index: 2;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link::before {
  content: "";
  display: none;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 44px;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link:hover::before {
  display: block;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.navigation-main {
  display: grid;
  grid-template-columns: 500px 160px 160px 100px;
  gap: 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-main > .navigation-item:nth-child(3) {
  position: relative;
  right: 40px;
}

.navigation-main > .navigation-item:nth-child(4) {
  direction: rtl;
}

.navigation-main > .navigation-item:first-child {
  display: flex;
  position: relative;
  width: min-content;
}

.navigation-main .navigation-item:first-child > .navigation-link::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -53px;
  background-image: url("../img/icons/plus.svg");
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 25px;
  opacity: 0.2;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-summary {
  display: none;
}

.navigation-sublist-wrapper {
  position: relative;
  z-index: 1;
  left: -59.7px;
  top: 51px;
  width: 1160px;
  min-height: 180px;
  background-color: #FFE17F;
}

.navigation-sublist {
  display: grid;
  grid-template-columns: 240px 200px 200px;
  grid-template-rows: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 60px;
  line-height: 18px;
}

.navigation-details {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.navigation-main .navigation-item:first-child:focus-within .navigation-details {
  display: block;
}

.navigation-main .navigation-item:first-child:hover .navigation-details {
  display: block;
}

.navigation-main .navigation-item:first-child:hover .navigation-link::after {
  background-image: url("../img/icons/minus.svg");
  opacity: 1;
}

.navigation-main .navigation-item:first-child:focus-within .navigation-link::after {
  background-image: url("../img/icons/minus.svg");
  opacity: 1;
}


/*
.navigation-details[open] .navigation-summary {
  background-image: url("../img/icons/minus.svg");
}


.navigation-summary {
  display: block;
  list-style: none;
  position: relative;
  top: -1px;
  left: 254px;

  background-image: url("../img/icons/plus.svg");
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 25px;
  opacity: 0.2;
  box-sizing: border-box;
  cursor: pointer;
}
*/

.navigation-subitem > .navigation-link {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 13px;
  left: -15px;
}

.navigation-subitem > .navigation-link:not(:active):focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
  outline: none;
}

.navigation-subitem > .navigation-link:hover {
  opacity: 0.6;
}

.navigation-subitem > .navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.navigation-subitem:nth-child(6) {
  grid-column: 1/2;
  grid-row: 3/4;
}


/* main */
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 40px 480px 40px 600px;
  grid-template-rows: auto;
  margin-bottom: 70px;
  margin-top: -150px;
}

.slider-image {
  grid-column: 1/4;
  grid-row: 1/2;
}

.slider-pagination {
  position: absolute;
  bottom: 186px;
  left: 460px;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 20px;
  width: min-content;
  list-style-type: none;
  grid-column: 4/5;
  grid-row: 1/2;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 22px;
}

.slider-button {
  display: block;
  width: 40px;
  height: 80px;
  align-self: center;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 10px;
}

.slider-button:not(:active):focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 6px;
  outline: none;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  outline: none;
  opacity: 0.3;
}


.slider-prev {
  background-image: url("../img/icons/left-tall-arrow.svg");
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

.slider-next {
  background-image: url("../img/icons/right-tall-arrow.svg");
  grid-column: 3/4;
  grid-row: 1/2;
  z-index: 1;
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.slider-pagination-button:not(.slider-pagination-button-current):not(:active):focus {
  border-color: #AF4FFF;
  outline: none;
}

.slider-pagination-button:not(.slider-pagination-button-current):hover {
  opacity: 0.6;
}

.slider-pagination-button:not(.slider-pagination-button-current):active {
  outline: none;
  opacity: 0.3;
}

.slider-pagination-button-current {
  cursor: unset;
  background-color: #000000;
}

.slider-list {
  grid-column: 4/5;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  list-style-type: none;
}

.slider-description {
  width: 560px;
}

.slider-list-item:nth-child(1) {
  position: relative;
}

.slider-list-item:nth-child(1)::before {
  content: "01";
  position: absolute;
  top: -35px;
  left: 295px;

  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-list-item:nth-child(2)::before {
  content: "02";
  position: absolute;
  top: -35px;
  left: 295px;

  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-list-item:nth-child(3)::before {
  content: "03";
  position: absolute;
  top: -35px;
  left: 295px;

  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-list-item > .slider-description:nth-child(1) {
  margin: 0;
  margin-top: 121px;
  margin-bottom: 19px;
}

.slider-list-item > .slider-description:nth-child(2) {
  margin: 0;
  margin-bottom: 36px;
}

.slider-paragraph {
  margin: 0;
  margin-bottom: 54px;
}

.slider-description-title {
  position: relative;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-link::before {  /*PATTERN*/
  position: absolute;
  top: 20px;
  z-index: -1;

  content: "";
  display: block;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
}

.slider-link {
  position: relative;
  display: block;
  width: 220px;
  padding-top: 14px;
  padding-bottom: 16px;

  font-family: "Raleway";
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.slider-link:not(:active):focus {
  outline: none;
}

.slider-link:focus::before {
  background-color: #AF4FFF;
}

.slider-link:hover::before {
  display: none;
}

.slider-link:hover {
  background-color: #FFE17F;
}

.slider-link:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3)
}

.slider-table {
  border-spacing: 0;
}

.slider-table-head {
  display: table-footer-group;
}

.slider-table-row-title {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.slider-table-cell {
  width: 160px;
  padding: 0;
  padding-bottom: 11px;
  font-size: 36px;
  color: #000000;
}

.categories-background {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}


.categories-link {
  display: block;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.categories-link:not(:active):focus {
  outline: none;
}

.categories-link:not(:active):focus .categories-image {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.categories-link:not(:active):focus .categories-name {
  color: #AF4FFF;
}

.categories-link:hover .categories-background {
  background-color: #FFC700;
}

.categories-link:active {
  outline: none;
}

.categories-link:active img {
  outline: none;
  opacity: 0.3;
}

.categories-link:active .categories-name{
  outline: none;
  opacity: 0.3;
  color: #000000;
}


.categories-list {
  margin: 0;
  padding: 0;
  margin-bottom: 169px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-name {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  margin-top: 33px;
}

.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 288px;
}

.services::before {
  content: "";
  display: block;
  position: absolute;
  left: 280px;
  top: -100px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services::after {
  content: url("../img/icons/delivery.svg");
  display: block;
  position: relative;
  top: -15px;
}

.services-list {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 280px;
  margin-right: 120px;
  list-style-type: none;
}

.services-section {
  position: relative;
  top: -40px;
}

.services-link {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services-name::before {
  position: absolute;
  top: 16px;
  z-index: -1;
  content: "";
  display: block;
  width: 160px;
  height: 8px;
  background-color: #FFC700;
}

.services-name-current {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 160px;
  text-align: center;
}

.services-name {
  position: relative;
  margin: 0;
  z-index: 1;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 160px;
  text-align: center;
}

.services-name-current.services-name::before {
  display: none;
}

.services-link:focus .services-name::before {
  background-color: #AF4FFF;
}

.services-link:focus {
  outline: 0;
}

.services-link:not(.services-link-current):hover .services-name {
  background-color: #FFC700;
}

.services-link:not(.services-link-current):hover .services-name::before {
  display: none;
}

.services-item:not(:last-child) {
  margin-bottom: 24px;
}

.services-container {
  position: relative;
  margin-bottom: 90px;
  background-color: #F0F0F0;
}

.services-link-current {
  display: block;
  width: 280px;
  height: 40px;
  background-color: #000000;
  color: #FFE17F;
}

.services-title {
  display: block;
  width: 560px;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 14px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-description {
  width: 500px;
  margin: 0;
  margin-bottom: 69px;
}

.rare-order {
  width: 1160px;
  height: 100px;
  margin-bottom: 136px;
}

.rare-order-link {
  display: flex;
  background-image:
  linear-gradient(to right, #FFE17F 125px, #F0F0F0 0);
  background-repeat: no-repeat;
}

.rare-order-title {
  position: relative;
  margin: 0;
  width: 910px;
  padding-top: 37px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rare-order-svg-info {
  border-radius: 20px;
  background-color: rgba(220, 220, 220, 0.5);
  align-self: center;
  margin-left: 52px;
}

.rare-order-svg-info path {
  opacity: 0.3;
}

.rare-order-link:not(:active):focus {
  box-shadow: 0 0 0 5px #AF4FFF;
  outline: 0;
}

.rare-order-link:hover  {
  background-image:
  linear-gradient(to right, #FFC700 125px, #EBEBEB 0);
}

.rare-order-link:hover .rare-order-svg-info {
  background-color: #DCDCDC;
}

.rare-order-link:hover .rare-order-svg-info path  {
  opacity: 1;
}

.rare-order-link:active .rare-order-title {
  outline: none;
  opacity: 0.3;
}

.rare-order-link:active .rare-order-svg-info path  {
  outline: none;
  opacity: 0.3;
}

.wrapper-about-contacts {
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.about-title::before {
  position: absolute;
  top: -42px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-title {
  position: relative;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 26px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-description {
  margin: 0;
  width: 500px;
  margin-bottom: 80px;
}

.about-list {
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  padding-left: 35px;
  width: 510px;
  list-style-type: none;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-company::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -35px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #FFC700;
}

.about-company {
  position: relative;
  margin: 0;
}

.about-abbr {
  text-decoration: none;
}

.about-link::before {
  position: absolute;
  top: 15px;
  z-index: -1;

  content: "";
  display: block;
  width: 260px;
  height: 8px;
  background-color: #FFE17F;
}

.about-link {
  position: relative;
  display: block;
  width: 260px;
  margin-top: auto;
  padding-top: 9px;
  padding-bottom: 11px;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.about-link:focus {
  outline: none;
}

.about-link:focus::before {
  background-color: #AF4FFF;
}

.about-link:hover {
  background-color: #FFE17F;
}

.about-link:hover::before {
  display: none;
}

.about-link:active {
  color: rgba(0, 0, 0, 0.3);
}


.contacts {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.contacts-title::before {
  position: absolute;
  top: -42px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts-title {
  position: relative;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 26px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
  width: 510px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-shedule {
  padding: 0;
  list-style-type: none;
  margin-bottom: 58px;
}

.contacts-number-link {
  text-decoration: underline;
  color: #444444;
}

.contacts-link::before {
  position: absolute;
  top: 15px;
  z-index: -1;

  content: "";
  display: block;
  width: 260px;
  height: 8px;
  background-color: #FFE17F;
}

.contacts-link {
  position: relative;
  display: block;
  margin-top: auto;
  width: 260px;
  padding-top: 9px;
  padding-bottom: 11px;

  margin-top: auto;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.contacts-link:focus {
  outline: none;
}

.contacts-link:focus::before {
  background-color: #AF4FFF;
}

.contacts-link:hover {
  background-color: #FFE17F;
}

.contacts-link:hover::before {
  display: none;
}

.contacts-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.subscribe-container {
  margin-top: 76px;
  min-height: 421px;
  background-color: #F0F0F0;
}

.inner-subscribe {
  display: flex;
  justify-content: space-between;
}

.inner-subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  display: block;
  width: 601px;
  height: 55px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 3px solid #d7d7d7;

  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-input::-webkit-input-placeholder {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-input:focus {
  outline: none;
  background-color: #DCDCDC;
}

.subscribe-input:hover::-webkit-input-placeholder {
  opacity: 0.7;
}

.subscribe-input:hover {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.subscribe-input:not(:placeholder-shown) {
  border-color: #000000;
}

.subscribe-input:focus:invalid {
  border-color: #FF3D3D;
}

.subscribe-note::before {
  content: url("../img/icons/tick-big.svg");
  position: absolute;
  left: -35px;
}

.subscribe-note {
  position: relative;
  margin-left: auto;
}

.subscribe-title {
  width: 560px;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 53px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-description {
  width: 560px;
  margin: 0;
  margin-top: 86px;
}

.subscribe-button {
  position: relative;
  display: block;
  width: 260px;
  height: 55px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe-button:not(:active):focus {
  outline: none;
  border-color: #AF4FFF;
}

.subscribe-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.subscribe-button:active {
  outline: none;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}


/* footer */

.footer-navigation {
  margin-top: 35px;
  margin-bottom: 49px;
}

.footer-navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-navigation-list > .footer-navigation-item:nth-child(1) {
  width: 240px;
  margin-right: 94px;
}

.footer-navigation-list > .footer-navigation-item:nth-child(3) {
  position: relative;
  left: -9px;
}

.footer-navigation-list > .footer-navigation-item:nth-last-child(2) {
  margin-right: auto;
  position: relative;
  left: -19px;
}

.footer-navigation-list > .footer-navigation-item:nth-child(5) {
  min-width: 200px;
  text-align: right;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:not(:active):focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link::before {
  content: "";
  display: none;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #FFC700;
  position: absolute;
  top: 42px;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:hover {
  color: #FFC700;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:hover::before {
  display: block;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.footer-social-list::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-right: 425px;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-list {
  display: flex;
  justify-self: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 61px;
}

.button-social {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.button-social:not(:active):focus {
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.button-social:not(:active):focus path {
  fill: #FFFFFF;
}

.button-social:hover {
  background-color: #FFC700;
}

.button-social:hover path {
  fill: #444444;
}

.button-social:active path {
  outline: none;
  opacity: 0.3;
}

.logo-link {
  margin-left: auto;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.logo-link:not(:active):focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 10px;
}

.logo-link:hover path {
  fill: #FFFFFF;
}

.logo-link:active {
  outline: none;
}

.logo-link:active path {
  outline: none;
  opacity: 0.3;
}

.page-footer {
  padding-top: 62px;
  margin-top: auto;
  color: #FFFFFF;
  background-color: #444444;
}

.footer-contacts-address {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.footer-navigation-link {
  display: block;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  position: relative;
  top: -12px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: inherit;
}

.footer-contacts-number-link {
  font-style: normal;
  color: inherit;
}

/* main-inner */


  /* inner-header */

.inner-header {
  width: 1100px;
  padding-left: 60px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 14px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
  margin-top: 9px;


  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
}

.breadcrumbs-item:first-child {
  margin-right: 11px;
  position: relative;
}

.breadcrumbs-item:nth-child(2) {
  margin-right: 9px;
  position: relative
}

.breadcrumbs-item:first-child::after {
  content: "";
  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  position: absolute;
  left: calc(100% - 13px + 5px);
  top: calc(50% - 3.5px);
  opacity: 0.2;
}

.breadcrumbs-item:nth-child(2)::after {
  content: "";
  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  position: absolute;
  left: calc(100% - 13px + 3px);
  top: calc(50% - 3.5px);
  opacity: 0.2;
}

.breadcrumbs-link {
  display: block;
  padding: 5px 12px 6px 13px;
  position: relative;
  left: -13px;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:not(:active):focus {
  box-shadow: 0 0 0 5px #AF4FFF;
  outline: none;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}


  /* inner header*/

.header-catalog {
  min-height: 186px;
  margin-bottom: 37px;
}

.catalog-products {
  --gradient-bp: calc(50% - 252px);
  display: grid;
  background-image:
  linear-gradient(to right, #DCDCDC var(--gradient-bp), #EBEBEB var(--gradient-bp)),
  linear-gradient(to right, #EBEBEB var(--gradient-bp), transparent var(--gradient-bp));
  background-size: 100% 70px, 100% 100%;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: 70px 1fr;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-subtitle-filter {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 268px;
  justify-self: end;
  margin: 25px 0;

  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-subtitle-sorting {
  margin: 25px 0;
  margin-right: 40px;

  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 268px;
  justify-self: end;
}

.catalog-filter-group:first-child .catalog-filter-title::before,
.catalog-filter-group:nth-child(2) .catalog-filter-title::before,
.catalog-filter-group:nth-child(3) .catalog-filter-title::before {
  position: absolute;
  content: "";
  bottom: 45px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.catalog-filter-group:first-child .catalog-filter-title {
  position: relative;
  padding-top: 83px;
  margin-bottom: 25px;
}

.catalog-filter-group:nth-child(2) .catalog-filter-title {
  position: relative;
  margin-bottom: 14px;
}

.catalog-filter-group:nth-child(3) .catalog-filter-title {
  position: relative;
  margin-bottom: 14px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-child {
  margin-bottom: 81px;
}

.catalog-filter-group:nth-child(2) {
  margin-bottom: 57px;
}

.catalog-filter-group:nth-child(3) {
  margin-bottom: 31px;
}


/* Range */

.range-scale {
  position: relative;
  height: 2px;
  width: 200px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:not(:active):focus {
  border-color: #AF4FFF;
  outline: none;
}

.range-toggle:active {
  outline: none;
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-price {
  position: absolute;
  display: block;
  top: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;

  font-family: "Rubik";
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-filter-label {
  position: absolute;
  top: calc(100% + 7px);
  left: 50%;
  transform: translateX(-40%);
  display: flex;
  align-items: flex-start;

  font-family: "Rubik";
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-filter-input {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
  display: block;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0.2;
  border: 2px solid #000000;
  border-radius: 3px
}

.control-input[type="checkbox"]:checked + svg {
  display: block;
}


.control-input[type="checkbox"]:checked ~ .control-mark {
  opacity: 1;
}

/*Checkbox focus*/

.control-input[type="checkbox"]:focus ~ .control-label{
  color: #AF4FFF;

}

.control-input[type="checkbox"]:focus ~ .control-mark{
  border-color: #AF4FFF;
  opacity: 1;
}

.control-input[type="checkbox"]:focus ~ svg path{
  fill: #AF4FFF;
}

/* Checkbox hover */

.control-input[type="checkbox"]:checked:not(:active):hover ~ .control-label{
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:not(:active):hover ~ .control-mark{
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:not(:active):hover ~ svg path{
  fill-opacity: 0.5;
}

/*Checkbox active*/

.control-input[type="checkbox"]:active ~ .control-label{
  opacity: 0.2;
}

.control-input[type="checkbox"]:active ~ .control-mark{
  opacity: 0.2;
}

.control-input[type="checkbox"]:active ~ svg path{
  fill-opacity: 0.2;
}


.control-input:disabled ~ .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"] + svg {
  display: none;
  position: absolute;
  top: 7px;
  left: 10px;
  transform: translateX(-50%) ;
  z-index: 1;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked ~ .control-mark {
  opacity: 1;
}

/*radio focus*/

.control-input[type="radio"]:focus ~ .control-label{
  color: #AF4FFF;

}

.control-input[type="radio"]:focus ~ .control-mark{
  border-color: #AF4FFF;
  opacity: 1;
}

.control-input[type="radio"]:focus ~ .control-mark::before{
  background-color: #AF4FFF;
}

/* radio hover */

.control-input[type="radio"]:checked:not(:active):hover ~ .control-label{
  opacity: 0.5;
}

.control-input[type="radio"]:checked:not(:active):hover ~ .control-mark{
  opacity: 0.5;
}

/*radio active*/

.control-input[type="radio"]:active ~ .control-label{
  opacity: 0.2;
}

.control-input[type="radio"]:active ~ .control-mark{
  opacity: 0.2;
}

/* Label */

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}


.products-container {
  grid-column-start: 3;
  grid-row-start: 2;

  width: 760px;
  margin-left: 72px;
  margin-bottom: 77px;
  margin-top: 69px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  grid-column-start: 3;
  grid-row-start: 1;
}

.sorting-type {
  display: flex;
  padding-left: 72px;
  margin-right: auto;
  align-items: center;
}

.sort-up {
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  border: none;
  line-height: 0;
  margin-right: -1px;
  padding: 10px;
  position: relative;
  right: -10px;
  background-color: transparent;
}

.sort-down:not(.sort-active) path,
.sort-up:not(.sort-active) path {
  opacity: 0.2;
}

.sort-down {
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  border: none;
  line-height: 0;
  padding: 10px;
  position: relative;
  right: -10px;
  background-color: transparent;
}

.sort-active {
  cursor: unset;
}

.sort-up:not(.sort-active):not(:active):focus,
.sort-down:not(.sort-active):not(:active):focus {
  outline: 0;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.sort-up:not(.sort-active):hover path,
.sort-down:not(.sort-active):hover path {
  opacity: 0.5;
}

.sort-active:focus {
  outline: 0;
}

.button-show {
  display: block;
  position: relative;
  z-index: 1;
  width: 200px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  padding: 10px 0;
}

.button-show::before {
  position: absolute;
  top: 16px;
  z-index: -1;

  content: "";
  display: block;
  width: 200px;
  height: 8px;
  background-color: #FFC700;
}

.button-show:not(:active):focus {
  outline: none;
}

.button-show:not(:active):focus::before {
  background-color: #AF4FFF;
}

.button-show:hover::before {
  display: none;
}

.button-show:hover {
  background-color: #FFC700;
}

.button-show:active {
  outline: none;
  background-color: #FFC700;
  color: rgba(0, 0, 0, 0.3)
}

.button-show:active::before {
  outline: none;
  display: none;
}

.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  min-width: 200px;
  min-height: 34px;
  padding: 0;
}

.catalog-filter-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  min-width: 217px;
  min-height: 30px;
  padding: 4px 12px 7px 13px;

  appearance: none;
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
}

.select-control option {
  color: #000000;
}

.select-control:not(:active):focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.select-control:hover {
  color: rgba(0, 0, 0, 0.6)
}

.select-control:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3)
}

.product-list {
  display: grid;
  grid-template-columns: auto auto ;
  gap: 40px;
  padding: 0px;
  margin: 0;
  list-style-type: none;
}

.product-card {
  width: 360px;
  background-color: #FFFFFF;
  position: relative;
}

.product-card-link {
  display: block;
  position: relative;
}


/*ФОН ПОВЕРХ КАРТИНКИ*/
.product-card-name-price-wrapper::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  z-index: 1;
  background: rgba(240, 240, 240, 0.8);
}

.product-card-button::before {
  content: "Подробнее";
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: none;
  position: absolute;

  top: 171px;
  left: 90px;
  min-width: 180px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 9px 10px 11px 10px;
  z-index: 3;
}

.product-card-button::after {
  content: "";
  display: none;
  position: absolute;
  z-index: 2;
  top: calc(171px + 16px);
  left: 90px;
  width: 180px;
  height: 8px;
  background-color: #FFC700;
}


.product-card-button:hover::before {
  background-color: #FFC700;
}

.product-card-button:active::before {
  background-color: #FFC700;
  color: rgba(0, 0, 0, 0.3);
}

.product-card-link:not(:active):focus {
  outline: 0;
}

.product-card-link:not(:active):focus .product-card-name,
.product-card-link:not(:active):focus .product-card-price {
  color: #AF4FFF;
}

.product-card-link:not(:active):focus .product-card-image {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.product-card-link:hover .product-card-button::before,
.product-card-link:hover .product-card-button::after,
.product-card-link:hover .product-card-name-price-wrapper::before {
  display: block;
}

.product-card-image {
  margin-bottom: 32px;
}

.product-card-name-price-wrapper {
  display: flex;
}

.product-card-name {
  margin: 0;
  margin-right: auto;
  width: 280px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-card-new {
  position: relative;
}

.product-card-new::before {
  position: absolute;
  z-index: 1;
  content: "new";
  top: 27px;
  right: 27px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 21px;
  padding-left: 3px;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.6);

  font-family: "Raleway";
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.button-load-more {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 51px;
  width: 100%;
  min-height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;

  text-align: center;;
  font-size: 16px;
  line-height: 19px;
}

.button-load-more:focus {
  border-width: 0;
  box-shadow: 0 0 0 5px #AF4FFF;
  outline: 0;
}

.button-load-more:hover {
  box-shadow: unset;
  border-width: 3px;
  border-color: #000000;
}

.button-load-more:active {
  box-shadow: unset;
  border-width: 3px;
  border-color: #000000;
  opacity: 0.3;
}

.pagination {
  display: flex;
  margin: 0;

  height: 70px;
  background-color: #EBEBEB;

  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  color: #444444;
}

.pagination-item:not(:first-child):not(:last-child) .pagination-link {
  display: block;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-dots {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-item:not(:first-child):not(:last-child) .pagination-link {
  padding: 5.6px 13.5px 8.5px 12.5px;
}

.pagination-item:nth-child(2) {
  margin-left: 70px;
}

.pagination-item:nth-child(3) {
  position: relative;
  left: -3px;
}

.pagination-item:nth-child(4) {
  position: relative;
  left: -4px;
}

.pagination-item:nth-child(5) {
  position: relative;
  left: -6px;
}

.pagination-item:nth-child(6) {
  position: relative;
  left: -12px;
}

.pagination-item:not(:first-child):not(:last-child) .pagination-link:not(.pagination-current):not(:active):focus {
  box-shadow: 0 0 0 5px #AF4FFF;
  outline: none;
}

.pagination-item:not(:first-child):not(:last-child) .pagination-link:not(.pagination-current):hover {
  color: #444444;
}

.pagination-item:not(:first-child):not(:last-child) .pagination-link:active {
  outline: none;
  color: rgba(68, 68, 68, 0.1);
}

.pagination-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 26.5px;
  padding-right: 23.5px;
  box-sizing: border-box;
  min-height: 70px;
  border: 5px solid transparent;
}

.pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 23.5px;
  padding-right: 26.5px;
  box-sizing: border-box;
  min-height: 70px;
  border: 5px solid transparent;
}

.pagination-prev:not(:active):focus,
.pagination-next:not(:active):focus {
  outline: none;
  background-color: #F0F0F0;
  border: 5px solid #AF4FFF;
}

.pagination-prev:not(.pagination-disabled):hover,
.pagination-next:not(.pagination-disabled):hover {
  background-color: #DCDCDC;
}

.pagination-prev:active,
.pagination-next:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-moving {
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/*modal window*/

.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal-block {
  background-color: #FFFFFF;
  box-sizing: border-box;
  width: 920px;
  min-height: 580px;
  margin: auto;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-title {
  margin: 0;
  margin-bottom: 58px;
  min-height: 60px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: content-box;
  border: none;
  display: block;
  padding: 0;
  width: 26px;
  height: 26px;
  padding: 12px;
  background-color: transparent;
  background-image: url(../img/icons/big-cross-close.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}


/*modal-close-button states*/

.modal-close-button:not(:active):focus {
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
  outline: none;
}

.modal-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal-form-inner {
  display: grid;
  grid-template-columns: 360px 200px 200px;
}

.modal-content {
  position: relative;
  width: 760px;
  margin: 0 auto;
  margin-top: 62px;
}

.modal-form-label {
  display: flex;
  flex-direction: column;

  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-label-desc {
  display: block;
  min-height: 34px;
}

.modal-form-desc-of-input {
  position: relative;
}

.modal-form-label:first-child,
.modal-form-label:nth-child(2) {
  position: relative;
  margin-bottom: 40px;
}

.modal-form-label:nth-child(2) {
  margin-left: 40px;;
  grid-column: 2/-1;
}

.modal-form-label:nth-child(3) {
  grid-column: 1/3;
}

.modal-form-label:nth-child(4) {
  margin-left: 40px;
}

.modal-form-input {
  box-sizing: border-box;
  height: 60px;
  border: 3px solid transparent;
  padding: 0;
  padding-left: 17px;
  padding-right: 47px;
  background-color: #F0F0F0;

  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.modal-form-label:first-child .modal-form-input-icon {
  position: absolute;
  width: 13px;
  height: 12px;
  transform: translateY(-50%);
  top: 64px;
  right: 24px;
}

.modal-form-label:nth-child(2) .modal-form-input-icon {
  position: absolute;
  width: 15px;
  height: 12px;
  transform: translateY(-50%);
  top: 64px;
  right: 24px;
}

/*modal-form-input states*/

.modal-form-input:focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.modal-form-input:hover {
  background-color: #EBEBEB;
}

.modal-form-input:not(:placeholder-shown) {
  border-color: #000000;
  background-color: transparent;
}

.modal-form-label:first-child .modal-form-desc-of-input::after {
  content:"Пожалуйста, представьтесь";
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 30px;
  display: flex;
  align-items: center;

  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #FF3D3D;
}

.modal-form-label:nth-child(2) .modal-form-desc-of-input::after {
  content:"Забавный у вас адрес";
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 30px;
  display: flex;
  align-items: center;

  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

/*modal-form-input invalid states*/

.modal-form-label:first-child .modal-form-input:not(:placeholder-shown) + .modal-form-desc-of-input {
  display: none;
}

.modal-form-label:nth-child(2) .modal-form-input:not(:placeholder-shown) {
  background-color: transparent;
  border-color: #000000;
}

.modal-form-label:nth-child(2) .modal-form-input:not(:placeholder-shown):invalid {
  border-color: #FF3D3D;
}

.modal-form-label:nth-child(2) .modal-form-input:not(:placeholder-shown):invalid + .modal-form-desc-of-input {
  color: #FF3D3D;
}



.modal-form-input[type="number"] {
  padding: 0 60px;
  text-align: center;
  width: 160px;
}

.modal-form-input::-webkit-input-placeholder {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.6;
}

.modal-form-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0
}

.modal-form-input[type=number]::-webkit-inner-spin-button,
.modal-form-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-form-tooltip {
  transform: translateY(-2px);
  position: relative;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  background-image: url(../img/icons/info.svg);
  background-color: #FFE17F;
  background-position: 50%;
  border-radius: 50%;
}

.modal-form-tooltip-text::before {
  content: "";
  position: relative;
  top: -19px;
  left: 127px;
  transform: translateY(-100%);
  display: block;
  width: 14px;
  height: 6px;
  background-image: url(../img/icons/triangle.svg);
  background-repeat: no-repeat;

}

.modal-form-tooltip-text {
  display: none;
  position: absolute;
  transform: translateY(100%);
  left: -140px;
  bottom: -10px;
  box-sizing: border-box;
  width: 200px;
  min-height: 160px;
  padding: 19px 17px 0 19px;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);

  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}

.modal-form-tooltip:hover .modal-form-tooltip-text{
  display: block;
}

.modal-form-label-inner {
  display: flex;
  position: relative;
  z-index: 1;
}

.modal-form-label-inner .modal-label-desc {
  min-width: 120px;
}

.modal-input-wrapper {
  position: relative;
  display: flex;
}

.modal-button-input {
  position: absolute;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  top: 50%;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.3;
  border: 2px solid transparent;
  cursor: pointer;
}

/*modal-button-input states*/


/*Здесь какой то баг связанный c областью :hover
(Он срабатывает при :hover на родительский label (возможно))
на .modal-button-minus,
но при это на .modal-button-plus состояния нормально
срабатывают
*/

.modal-button-plus:not(:active):focus,
.modal-button-minus:not(:active):focus {
  outline: none;
  border-radius: 50%;
  border-color:#AF4FFF;
}

.modal-button-plus:hover,
.modal-button-minus:hover {
  opacity: 1;
}

.modal-button-plus:active,
.modal-button-minus:active {
  outline: none;
  opacity: 0.1;
}



.modal-button-minus {
  left: 11px;
  background-image: url(../img/icons/minus.svg);
}

.modal-button-plus {
  right: 11px;
  background-image: url(../img/icons/plus.svg);
}

.modal-button-send {
  display: block;
  position: relative;
  z-index: 0;
  width: 200px;
  min-height: 20px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  margin-top: 54px;
  cursor: pointer;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.modal-button-send::before {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: #FFC700;
}

/*modal-button-send states*/

.modal-button-send:not(:active):focus {
  outline: none;
  background-color: #AF4FFF;
}

.modal-button-send:not(:active):focus::before {
  background-color: #AF4FFF;
}

.modal-button-send:hover {
  background-color: #FFC700;
}

.modal-button-send:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

/*Popover*/

.popover-close {
  display: none;
}

.popover-cart::before {
  content: "";
  position: relative;
  left: 150px;
  transform: translateY(-100%);
  display: block;
  width: 14px;
  height: 6px;
  background-image: url(../img/icons/triangle.svg);
  background-repeat: no-repeat;
}

.popover-cart {
  position: absolute;
  transform: translateY(100%) translateX(50%);
  z-index: 3;
  right: calc(100% - 19px);
  bottom: 0;
  box-sizing: border-box;
  width: 320px;
  min-height: 302px;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);

  color: #FFFFFF;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid #FFFFFF;;
}

.cart-item-link {
  display: flex;
  cursor: pointer;
  margin-right: 11px;
  color: #FFFFFF;
}

/*cart-item-link states*/

.cart-item-link:not(:active):focus {
  outline: none;
  color: #AF4FFF;
}

.cart-item-link:not(:active):focus .cart-item-image {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:active {
  outline: none;
  opacity: 0.3;
}


.cart-item-image {
  display: block;
  margin-right: 23px;
}

.cart-item-title {
  margin: 0;
  width: 180px;
  min-height: 43px;
}

.cart-item-button-delete {
  align-self: flex-start;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/icons/delete.svg)
}

/*cart-item-button-delete states*/

.cart-item-button-delete:not(:active):focus {
  outline: none;
  border-radius: 50%;
  border-color: #AF4FFF;
}

.cart-item-button-delete:hover {
  opacity: 0.6;
}

.cart-item-button-delete:active {
  opacity: 0.3;
}


.cart-info-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 44px;
  background-color: #1A1A1A;
  padding: 0 20px;
}

.cart-count {
  display: block;
  width: 120px;
  margin-right: 10px;
}

.cart-price {
  display: block;
  width: 150px;
  text-align: right;
}

.cart-link {
  box-sizing: border-box;
  display: block;
  width: 280px;
  min-height: 50px;
  padding: 15px 0;
  margin: 20px;
  cursor: pointer;
  background-color: #FFFFFF;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/*cart-link states*/

.cart-link:not(:active):focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.cart-link:hover {
  background-color: #FFE17F;
}

.cart-link:active {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

