@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: #000000;
  text-decoration: none;
}

.button {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/* header */

.header-container {
  width: 1160px;
  min-height: 300px;
  background-color: #FFE17F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  padding-top: 1px;
}

.header-inner {
  width: 89.7%;
  margin: 0 auto;
}

.page-header {
  font-family: "Raleway";
  color: #000000;
}

.header-title {
  margin: 0;
  margin-top: -24px;
  margin-bottom: 26px;
}

.navigation-search::-webkit-input-placeholder {
  font-family: "Rubik";
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.navigation-search {
  display: block;
  min-width: 516px;
  min-height: 40px;
  border: none;
  background-color: transparent;
  padding: 10px 0;


  font-family: "Rubik";
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

  background-image: url("../img/icons/navigation-search.svg");
  background-repeat: no-repeat;

  padding-left: 52px;

  position: relative;
  left: -16px;

  background-position: left 16px top 50%;
}


.navigation-search:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.navigation-search:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.navigation-search:active::-webkit-input-placeholder {
  opacity: 1;
}

.navigation-search:active {
  box-shadow: 0 0 0 2px #000000;
}

.navigation-list {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  letter-spacing: 0;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: grid;
  grid-template-columns: 500px 160px 160px 100px;
  gap: 40px;
  margin-bottom: 19px;
}

.navigation-link {
  display: block;
  padding: 10px 0;
  width: max-content;
}


.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url("../img/icons/entry.svg");
  background-repeat: no-repeat;

  min-width: 117px;

  box-sizing: border-box;
  padding-left: 46px;

  position: relative;
  left: -21px;

  background-position: left 21px top 50%;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.navigation-user .navigation-item:not(:first-child) .navigation-link:hover {
  opacity: 0.6;
}

.navigation-user .navigation-item:not(:first-child) .navigation-link:active {
  opacity: 0.3;
}


.navigation-user .navigation-item:nth-child(3) .navigation-link{
  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;

  min-width: 136px;

  box-sizing: border-box;
  padding-left: 41px;

  position: relative;
  right: -22px;

  background-position: left 21px top 50%;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 20px;
  outline: none;
}


.navigation-user .navigation-item:nth-child(4) .navigation-link{
  position: relative;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;

  min-width: 131px;

  box-sizing: border-box;
  padding-left: 44px;

  position: relative;
  left: -10px;

  background-position: left 18px top 10px;
}

.navigation-user .navigation-item:nth-child(4) .navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 20px;
  outline: none;
}


.navigation-user .navigation-item:nth-child(4) .navigation-link::before {
  position: absolute;
  left: 2px;
  top: 8px;
  content: "2";
  text-align: center;
  padding: 1px;
  width: 19px;
  height: 19px;
  background-color: #FFFFFF;
  background-position: left;
  border-radius: 10.5px;
}


.navigation-user > .navigation-item:nth-child(3) {
  margin-left: auto;
}

.navigation-user > .navigation-item:nth-child(4) {
  margin-left: auto;
}

.navigation-main .navigation-item > .navigation-link {
  padding: 15px 0;
}

.navigation-main .navigation-item:first-child > .navigation-link {
  min-width: 263px;

  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  z-index: 1;
  left: -20px;
}

.navigation-main .navigation-item:first-child > .navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
  outline: none;
  z-index: 2;
}

.navigation-summary {
  display: block;
  list-style: none;
  position: relative;
  top: -1px;
  left: 254px;

  background-image: url("../img/icons/plus.svg");
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 25px;
  opacity: 0.2;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-main .navigation-item:first-child > .navigation-link:hover .navigation-summary {
  opacity: 1;
  /*Не работает селектор на summary*/
}

.navigation-main .navigation-item:first-child > .navigation-link:active {
  opacity: 0.3;
}


.navigation-main .navigation-item:nth-child(2) > .navigation-link {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  left: -20px;
}

.navigation-main .navigation-item:nth-child(3) > .navigation-link {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  left: -20px;
}

.navigation-main .navigation-item:nth-child(4) > .navigation-link {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
  right: -20px;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
  outline: none;
  z-index: 2;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link::before {
  content: "";
  display: none;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 44px;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link:hover::before {
  display: block;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link:active {
  opacity: 0.3;
}

.navigation-main {
  display: grid;
  grid-template-columns: 500px 160px 160px 100px;
  gap: 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-main > .navigation-item:nth-child(3) {
  position: relative;
  right: 40px;
}

.navigation-main > .navigation-item:nth-child(4) {
  direction: rtl;
}

.navigation-main > .navigation-item:first-child {
  display: flex;
  position: relative;
}

.navigation-details {
  position: absolute;
  left: 0px;
  top: 0px;
}

.navigation-details[open] .navigation-summary {
  background-image: url("../img/icons/minus.svg");
}

.navigation-sublist-wrapper {
  position: relative;
  z-index: 1;
  left: -59.7px;
  top: 1px;
  width: 1160px;
  min-height: 180px;
  background-color: #FFE17F;
}

.navigation-sublist {
  display: grid;
  grid-template-columns: 240px 200px 200px;
  grid-template-rows: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 60px;
  line-height: 18px;
}

.navigation-subitem > .navigation-link {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 13px;
  left: -15px;
}

.navigation-subitem > .navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
  outline: none;
}

.navigation-subitem > .navigation-link:hover {
  opacity: 0.6;
}

.navigation-subitem > .navigation-link:active {
  opacity: 0.3;
}

.navigation-subitem:nth-child(6) {
  grid-column: 1/2;
  grid-row: 3/4;
}


/* main */
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 40px 480px 40px 600px;
  grid-template-rows: auto;
  margin-bottom: 70px;
  margin-top: -150px;
}

.slider-image {
  grid-column: 1/4;
  grid-row: 1/2;
}

.slider-pagination {
  position: absolute;
  bottom: 186px;
  left: 460px;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 20px;
  width: min-content;
  list-style-type: none;
  grid-column: 4/5;
  grid-row: 1/2;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 22px;
}

.slider-button {
  display: block;
  width: 40px;
  height: 80px;
  align-self: center;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 10px;
}

.slider-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 6px;
  outline: none;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}


.slider-prev {
  background-image: url("../img/icons/left-tall-arrow.svg");
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

.slider-next {
  background-image: url("../img/icons/right-tall-arrow.svg");
  grid-column: 3/4;
  grid-row: 1/2;
  z-index: 1;
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.slider-pagination-button:not(.slider-pagination-button-current):focus {
  border-color: #AF4FFF;
  outline: none;
}

.slider-pagination-button:not(.slider-pagination-button-current):hover {
  opacity: 0.6;
}

.slider-pagination-button:not(.slider-pagination-button-current):active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  cursor: unset;
  background-color: #000000;
}

.slider-list {
  grid-column: 4/5;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  list-style-type: none;
}

.slider-description {
  width: 560px;
}

.slider-list-item:nth-child(1) {
  position: relative;
}

.slider-list-item:nth-child(1)::before {
  content: "01";
  position: absolute;
  top: -35px;
  left: 295px;

  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-list-item:nth-child(2)::before {
  content: "02";
  position: absolute;
  top: -35px;
  left: 295px;

  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-list-item:nth-child(3)::before {
  content: "03";
  position: absolute;
  top: -35px;
  left: 295px;

  font-family: "Rubik";
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-list-item > .slider-description:nth-child(1) {
  margin: 0;
  margin-top: 121px;
  margin-bottom: 19px;
}

.slider-list-item > .slider-description:nth-child(2) {
  margin: 0;
  margin-bottom: 36px;
}

.slider-paragraph {
  margin: 0;
  margin-bottom: 54px;
}

.slider-description-title {
  position: relative;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-link::before {  /*PATTERN*/
  position: absolute;
  top: 20px;
  z-index: -1;

  content: "";
  display: block;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
}

.slider-link {
  position: relative;
  display: block;
  width: 220px;
  padding-top: 14px;
  padding-bottom: 16px;

  font-family: "Raleway";
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.slider-link:focus {
  outline: none;
}

.slider-link:focus::before {
  background-color: #AF4FFF;
}

.slider-link:hover::before {
  display: none;
}

.slider-link:hover {
  background-color: #FFE17F;
}

.slider-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.slider-table {
  border-spacing: 0;
}

.slider-table-head {
  display: table-footer-group;
}

.slider-table-row-title {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.slider-table-cell {
  width: 160px;
  padding: 0;
  padding-bottom: 11px;
  font-size: 36px;
  color: #000000;
}

.categories-background {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}


.categories-link {
  display: block;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.categories-link:focus {
  outline: none;
}

.categories-link:focus .categories-image {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.categories-link:focus .categories-name {
  color: #AF4FFF;
}

.categories-link:hover .categories-background {
  background-color: #FFC700;
}

.categories-link:active img {
  opacity: 0.3;
}

.categories-link:active .categories-name{
  opacity: 0.3;
  color: #000000;
}


.categories-list {
  margin: 0;
  padding: 0;
  margin-bottom: 169px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-name {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  margin-top: 33px;
}

.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 288px;
}

.services::before {
  content: "";
  display: block;
  position: absolute;
  left: 280px;
  top: -100px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services::after {
  content: url("../img/icons/delivery.svg");
  display: block;
  position: relative;
  top: -15px;
}

.services-list {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 280px;
  margin-right: 120px;
  list-style-type: none;
}

.services-section {
  position: relative;
  top: -40px;
}

.services-link {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services-name::before {
  position: absolute;
  top: 16px;
  z-index: -1;
  content: "";
  display: block;
  width: 160px;
  height: 8px;
  background-color: #FFC700;
}

.services-name-current {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 160px;
  text-align: center;
}

.services-name {
  position: relative;
  margin: 0;
  z-index: 1;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 160px;
  text-align: center;
}

.services-name-current.services-name::before {
  display: none;
}

.services-link:focus .services-name::before {
  background-color: #AF4FFF;
}

.services-link:focus {
  outline: 0;
}

.services-link:not(.services-link-current):hover .services-name {
  background-color: #FFC700;
}

.services-link:not(.services-link-current):hover .services-name::before {
  display: none;
}

.services-item:not(:last-child) {
  margin-bottom: 24px;
}

.services-container {
  position: relative;
  margin-bottom: 90px;
  background-color: #F0F0F0;
}

.services-link-current {
  display: block;
  width: 280px;
  height: 40px;
  background-color: #000000;
  color: #FFE17F;
}

.services-title {
  display: block;
  width: 560px;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 14px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-description {
  width: 500px;
  margin: 0;
  margin-bottom: 69px;
}

.rare-order {
  width: 1160px;
  height: 100px;
  margin-bottom: 136px;
}

.rare-order-link {
  display: flex;
  background-image:
  linear-gradient(to right, #FFE17F 125px, #F0F0F0 0);
  background-repeat: no-repeat;
}

.rare-order-title {
  position: relative;
  margin: 0;
  width: 910px;
  padding-top: 37px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rare-order-svg-info {
  border-radius: 20px;
  background-color: rgba(220, 220, 220, 0.5);
  align-self: center;
  margin-left: 52px;
}

.rare-order-svg-info path {
  opacity: 0.3;
}

.rare-order-link:focus {
  box-shadow: 0 0 0 5px #AF4FFF;
  outline: 0;
}

.rare-order-link:hover  {
  background-image:
  linear-gradient(to right, #FFC700 125px, #EBEBEB 0);
}

.rare-order-link:hover .rare-order-svg-info {
  background-color: #DCDCDC;
}

.rare-order-link:hover .rare-order-svg-info path  {
  opacity: 1;
}

.rare-order-link:active .rare-order-title {
  opacity: 0.3;
}

.rare-order-link:active .rare-order-svg-info path  {
  opacity: 0.3;
}

.wrapper-about-contacts {
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.about-title::before {
  position: absolute;
  top: -42px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-title {
  position: relative;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 26px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-description {
  margin: 0;
  width: 500px;
  margin-bottom: 80px;
}

.about-list {
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  padding-left: 35px;
  width: 510px;
  list-style-type: none;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-company::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -35px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #FFC700;
}

.about-company {
  position: relative;
  margin: 0;
}

.about-abbr {
  text-decoration: none;
}

.about-link::before {
  position: absolute;
  top: 15px;
  z-index: -1;

  content: "";
  display: block;
  width: 260px;
  height: 8px;
  background-color: #FFE17F;
}

.about-link {
  position: relative;
  display: block;
  width: 260px;
  margin-top: auto;
  padding-top: 9px;
  padding-bottom: 11px;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.about-link:focus {
  outline: none;
}

.about-link:focus::before {
  background-color: #AF4FFF;
}

.about-link:hover {
  background-color: #FFE17F;
}

.about-link:hover::before {
  display: none;
}

.about-link:active {
  color: rgba(0, 0, 0, 0.3);
}


.contacts {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.contacts-title::before {
  position: absolute;
  top: -42px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts-title {
  position: relative;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 26px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
  width: 510px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-shedule {
  padding: 0;
  list-style-type: none;
  margin-bottom: 58px;
}

.contacts-number-link {
  text-decoration: underline;
  color: #444444;
}

.contacts-link::before {
  position: absolute;
  top: 15px;
  z-index: -1;

  content: "";
  display: block;
  width: 260px;
  height: 8px;
  background-color: #FFE17F;
}

.contacts-link {
  position: relative;
  display: block;
  margin-top: auto;
  width: 260px;
  padding-top: 9px;
  padding-bottom: 11px;

  margin-top: auto;

  font-family: "Raleway";
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.contacts-link:focus {
  outline: none;
}

.contacts-link:focus::before {
  background-color: #AF4FFF;
}

.contacts-link:hover {
  background-color: #FFE17F;
}

.contacts-link:hover::before {
  display: none;
}

.contacts-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.subscribe-container {
  margin-top: 76px;
  min-height: 421px;
  background-color: #F0F0F0;
}

.inner-subscribe {
  display: flex;
  justify-content: space-between;
}

.inner-subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  display: block;
  width: 601px;
  height: 55px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 3px solid #d7d7d7;

  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-input::-webkit-input-placeholder {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-input:focus {
  outline: none;
  background-color: #DCDCDC;
}

.subscribe-input:hover::-webkit-input-placeholder {
  opacity: 0.7;
}

.subscribe-input:hover {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}


.subscribe-note::before {
  content: url("../img/icons/tick-big.svg");
  position: absolute;
  left: -35px;
}

.subscribe-note {
  position: relative;
  margin-left: auto;
}

.subscribe-title {
  width: 560px;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 53px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-description {
  width: 560px;
  margin: 0;
  margin-top: 86px;
}

.subscribe-button {
  position: relative;
  display: block;
  width: 260px;
  height: 55px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe-button:focus {
  outline: none;
  border-color: #AF4FFF;
}

.subscribe-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.subscribe-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}


/* footer */

.footer-navigation {
  margin-top: 35px;
  margin-bottom: 49px;
}

.footer-navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-navigation-list > .footer-navigation-item:nth-child(1) {
  width: 240px;
  margin-right: 94px;
}

.footer-navigation-list > .footer-navigation-item:nth-child(3) {
  position: relative;
  left: -9px;
}

.footer-navigation-list > .footer-navigation-item:nth-last-child(2) {
  margin-right: auto;
  position: relative;
  left: -19px;
}

.footer-navigation-list > .footer-navigation-item:nth-child(5) {
  min-width: 200px;
  text-align: right;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 25px;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link::before {
  content: "";
  display: none;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #FFC700;
  position: absolute;
  top: 42px;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:hover {
  color: #FFC700;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:hover::before {
  display: block;
}

.footer-navigation-list > .footer-navigation-item:not(:first-child):not(:last-child) .footer-navigation-link:active {
  opacity: 0.3;
}


/* .navigation-main .navigation-item:not(:first-child) > .navigation-link:hover::before {
  display: block;
}

.navigation-main .navigation-item:not(:first-child) > .navigation-link:active {
  opacity: 0.3;
} */


.footer-social-list::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-right: 425px;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-list {
  display: flex;
  justify-self: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 61px;
}

.button-social {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.button-social:focus {
  outline: none;
  background-color: transparent;
  box-shadow: 0 0 0 5px #AF4FFF;
}

.button-social:focus path {
  fill: #FFFFFF;
}

.button-social:hover {
  background-color: #FFC700;
}

.button-social:hover path {
  fill: #444444;
}

.button-social:active path {
  opacity: 0.3;
}

.logo-link {
  margin-left: auto;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.logo-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 10px;
}

.logo-link:hover path {
  fill: #FFFFFF;
}

.logo-link:active path {
  opacity: 0.3;
}

.page-footer {
  padding-top: 62px;
  margin-top: auto;
  color: #FFFFFF;
  background-color: #444444;
}

.footer-contacts-address {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.footer-navigation-link {
  display: block;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  position: relative;
  top: -12px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: inherit;
}

.footer-contacts-number-link {
  font-style: normal;
  color: inherit;
}

/* main-inner */


  /* inner-header */

.inner-header {
  width: 1100px;
  padding-left: 60px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 14px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;

  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  padding-inline-start: 0;
}

.breadcrumbs-item:first-child {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item:nth-child(2) {
  margin-right: 34px;
  position: relative
}

.breadcrumbs-item:first-child::after {
  content: "";
  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  position: absolute;
  left: 78px;
  top: 7px;
  opacity: 0.2;
}

.breadcrumbs-item:nth-child(2)::after {
  content: "";
  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  position: absolute;
  left: 144px;
  top: 7px;
  opacity: 0.2;
}

  /* inner header*/

.header-catalog {
  min-height: 186px;
  margin-bottom: 37px;
}

.catalog-products {
  --gradient-bp: calc(50% - 252px);
  display: grid;
  background-image:
  linear-gradient(to right, #DCDCDC var(--gradient-bp), #EBEBEB var(--gradient-bp)),
  linear-gradient(to right, #EBEBEB var(--gradient-bp), transparent var(--gradient-bp));
  background-size: 100% 70px, 100% 100%;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: 70px 1fr;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-subtitle-filter {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 268px;
  justify-self: end;
  margin: 25px 0;

  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-subtitle-sorting {
  margin: 25px 0;
  margin-right: 40px;

  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}



.catalog-filter {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 268px;
  justify-self: end;
}

.products-container {
  grid-column-start: 3;
  grid-row-start: 2;

  width: 760px;
  margin-left: 72px;
  margin-bottom: 77px;
  margin-top: 69px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  grid-column-start: 3;
  grid-row-start: 1;
}

.sorting-type {
  display: flex;
  padding-left: 72px;
  margin-right: auto;
}

.sort-up {
  display: block;
  background-image: url("../img/icons/sort-up.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  padding: 0;
  width: 11px;
  height: 10px;
  margin-right: 19px;
}

.sort-down {
  display: block;
  background-image: url("../img/icons/sort-down.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  padding: 0;
  width: 11px;
  height: 10px;
}

.sort-down:not(.sort-active),
.sort-up:not(.sort-active) {
  opacity: 0.2;
}

.button-show {
  display: block;
  position: relative;
  z-index: 1;
  width: 200px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  padding: 0;
}

.button-show::before {
  position: absolute;
  top: 6px;
  z-index: -1;

  content: "";
  display: block;
  width: 200px;
  height: 8px;
  background-color: #FFC700;
}

.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
}

.catalog-filter-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 189px;

  appearance: none;
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: top 33px right;
}

.product-list {
  display: grid;
  grid-template-columns: auto auto ;
  gap: 40px;
  padding: 0px;
  margin: 0;
  list-style-type: none;
}

.product-card {
  width: 360px;
  background-color: #FFFFFF;
}

.product-card-image {
  margin-bottom: 32px;
}

.product-card-name-price-wrapper {
  display: flex;
}

.product-card-name {
  margin: 0;
  margin-right: auto;
  width: 280px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-card-new {
  position: relative;
}

.product-card-new::before {
  position: absolute;
  content: "new";
  top: 27px;
  right: 27px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 21px;
  padding-left: 3px;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.6);

  font-family: "Raleway";
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.button-load-more {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 51px;
  width: 100%;
  min-height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;

  text-align: center;;
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  display: flex;
  margin: 0;

  height: 70px;
  background-color: #EBEBEB;

  align-items: center;
  list-style-type: none;
  justify-content: center;
  padding-inline-start: 0px;
  color: #444444;
}

.pagination-item {
  margin-left: 30px;
}

.pagination-item:not(:first-child):not(:last-child) {
  opacity: 0.3;
}

.pagination > .pagination-item:first-child {
  margin-left: 30px;
  margin-right: auto;
}

.pagination > .pagination-item:last-child {
  margin-right: 30px;
  margin-left: auto;
}

.pagination-moving {
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
